{{ define "title" }}{{ .post.Title }}{{ end }}
{{ define "head" }}{{ end }}
{{ define "css" }}{{ end }}
{{ define "js" }}{{ end }}
{{ define "content" }}
<section class="section__center mdl-grid mdl-grid__no-spacing">
  {{ range $blog := .blogs }}
  {{ $author := $blog.GetAuthorAsUser }}
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url('{{index $blog.Images 2 }}') center / cover;height:160px;">
      <h4 class="mdl-card__title-text" style="color:white">{{ $blog.Title }}</h4>
    </div>
    <div class="mdl-card__supporting-text">
      {{ $blog.Summary }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="{{ $blog.IdUrl }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read More</a>
      {{ $blog.Date | ftimeago }}
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
