{{ define "title" }}{{ .post.Title }}{{ end }}
{{ define "head" }}
<meta property="og:title" content="{{ .post.Title }} | {{ .ctx.Site.Domain }}"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="https://{{ .ctx.Site.Domain }}{{index .post.Images 2 }}"/>
<meta property="og:url" content="https://{{ .ctx.Site.Domain }}{{ .post.IdUrl }}/"/>
<meta property="og:description" content="{{ .post.Summary }}"/><!-- Sketchy to use summary... -->

<meta property="artictle:published_time" content="{{ .post.Date | f8601 }}"/>
<meta property="article:author" content="{{ .post.GetAuthorAsUser.DisplayName }}"/>
<meta property="article:publisher" content="https://{{ .ctx.Site.Domain }}"/>
{{ if .post.Edited }}
<meta property="article:modified_time" content="{{ .post.DateEdited | f8601 }}"/>
{{ end }}

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .post.Title }}" />
<meta name="twitter:image" content="https://{{ .ctx.Site.Domain }}{{index .post.Images 2 }}" />
<meta name="twitter:url" content="https://{{ .ctx.Site.Domain }}{{ .post.IdUrl }}/" />
<meta name="twitter:description" content="{{ .post.Summary }}"/><!-- Sketchy to use summary... -->
{{ end }}
{{ define "css" }}{{ end }}
{{ define "js" }}{{ end }}
{{ define "content" }}
<section class="section__center mdl-grid mdl-grid__no-spacing">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div>
        <h1>{{ .post.Title }}</h1>
        <span>{{ .post.Date | ftimeago }}</span> by: {{ .post.GetAuthorAsUser.DisplayName }}
      </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      {{ .post.Content }}
    </div>
  </div>
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <a href="{{ .post.IdUrl }}">Permalink</a>
    </div>
  </div>
</section>
{{ end }}
