{{ define "title" }}{{ .post.Title }}{{ end }}
{{ define "head" }}{{ end }}
{{ define "css" }}{{ end }}
{{ define "js" }}{{ end }}
{{ define "content" }}
<section class="section__center mdl-grid mdl-grid__no-spacing">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div>
        <strong>{{ .post.Title }}</strong>
        <span>{{ .post.Date | ftimeago }}</span>
      </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      {{ .post.Content }}
    </div>
  </div>
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <a href="{{ .post.IdUrl }}">Permalink</a>
    </div>
  </div>
</section>
{{ end }}
