{{ define "title" }}{{ .post.Title }}{{ end }}
{{ define "head" }}
<meta property="og:title" content="{{ .post.Title }} | {{ .ctx.Site.Domain }}"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="https://{{ .ctx.Site.Domain }}{{index .post.Images 2 }}"/>
<meta property="og:url" content="https://{{ .ctx.Site.Domain }}{{ .post.IdUrl }}/"/>
<meta property="og:description" content="{{ .post.Summary }}"/><!-- Sketchy to use summary... -->

<meta property="artictle:published_time" content="{{ .post.Date | f8601 }}"/>
<meta property="article:author" content="{{ .post.GetAuthorAsUser.DisplayName }}"/>
<meta property="article:publisher" content="https://{{ .ctx.Site.Domain }}"/>
{{ if .post.Edited }}
<meta property="article:modified_time" content="{{ .post.DateEdited | f8601 }}"/>
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .post.Title }}" />
<meta name="twitter:site" content="@meggavolts" />
<meta name="twitter:image" content="https://{{ .ctx.Site.Domain }}{{index .post.Images 2 }}" />
<meta name="twitter:url" content="https://{{ .ctx.Site.Domain }}{{ .post.IdUrl }}/" />
<meta name="twitter:description" content="{{ .post.Summary }}"/><!-- Sketchy to use summary... -->
{{ end }}
{{ define "css" }}
<style>
body::before {
  background: url('{{index .post.Images 2 }}') center / cover;
}

#share-buttons > div {
  padding-top: 5px;
}

#post-content {
  border-top: 1px solid rgba(0,0,0,.1);
}
</style>
{{ end }}
{{ define "js" }}{{ end }}
{{ define "content" }}
<section class="section__center mdl-grid mdl-grid__no-spacing">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div>
        <h1>{{ .post.Title }}</h1>
        <span>{{ .post.Date | ftimeago }}</span> by: {{ .post.GetAuthorAsUser.DisplayName }}
      </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text" id="post-content">
      {{ .post.Content }}
    </div>
  </div>
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <div id="share-buttons">
        <div>
          <a href="{{ .post.IdUrl }}">Permalink</a>
        </div>
        <div>
          <script src="https://apis.google.com/js/platform.js" async defer></script>
          <g:plus action="share" data-href="https://{{ .ctx.Site.Domain }}{{ .post.SlugUrl }}"></g:plus>
        </div>
        <div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ .ctx.Site.Domain }}{{ .post.SlugUrl }}" data-via="meggavolts" data-hashtags="jurt">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
