{{ define "title" }}World Clock{{ end }}
{{ define "head" }}
<meta property="og:title" content="{{ template "title" . }} | {{ .ctx.Site.Domain }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://{{ .ctx.Site.Domain }}/assets/img/favicon.png"/>
<meta property="og:url" content="https://{{ .ctx.Site.Domain }}/"/>
<meta property="og:description" content="{{ .ctx.Site.Description }}"/>
{{ end }}
{{ define "css" }}{{ end }}
{{ define "content" }}
<section class="section__center mdl-grid mdl-grid__no-spacing">
  <div class="mdl-card mdl-cell mdl-grid mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="zoneselect">
          <label class="mdl-textfield__label" for="zoneselect">Timezone</label>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "js" }}
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/moment-timezone-with-data.js"></script>
<script>

document.addEventListener("DOMContentLoaded", function(event) {
  var zones = moment.tz.names()
  var localOffsetHours = new Date().getTimezoneOffset() / 60;
  console.log(localOffsetHours);
  console.log(moment.tz.guess());
});

function newClock(tz) {
  var element = document.createNewElement("div")
  element.id = "clock." + tz
  element.classList.add("mdl-card", "mdl-shadow--2dp")
  var cardTitle = document.createNewElement("div")
  cardTitle.classList.add("mdl-card__title")
}
</script>
{{ end }}
