body .site {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('/assets/img/bg_1024.jpg');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('/assets/img/bg_2048.jpg');
  }
}
@media (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('/assets/img/bg_2880.jpg');
  }
}

.site-posts {
  max-width: 900px;
  padding: 0;
  /*display: flex;*/
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

textarea {
  resize: none;
  overflow: auto;
  height: 100%;
}

.mdl-textfield {
  width: 100%;
  height: 100%;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.mdl-mini-footer {
  padding: 10px 16px;
}

.mdl-card__actions {
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
