@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html, body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: 'PT Sans', serif;
  color: #000;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 950px;
  padding: 16px;
  margin: 0 auto;
}

a {
  color: #3498db;
  text-decoration: none !important;
}

a:visited {
  color: #3498db;
}

a:hover {
  color: #2980b9;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  min-height: 120px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.card p {
  text-indent: 1rem;
  text-align: justify;
}
