<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name"  content="{{ .ctx.Site.Domain }}"/>

  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico?v=2" />
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.red-green.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="/assets/css/style.css">

  {{ template "head" . }}
  {{ template "css" . }}

  <title>{{ template "title" . }} | {{ .ctx.Site.Title }}</title>
</head>
<body class=" mdl-color-text--grey-700 mdl-base site">
  <div class="site mdl-layout mdl-js-layout has-drawer is-upgraded">
    {{ template "nav" . }}
    <main class="mdl-layout__content">
      <div class="site-posts">
        {{ template "content" . }}
      </div>
    </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__right-section">
        <div class="mdl-logo">{{ .ctx.Site.Title }}</div>
        <ul class="mdl-mini-footer__link-list">
          <li>Made with <span id="footer-love" style="color:#f48fb1;"><i class="material-icons" style="font-size:12px;">favorite</i></span></li>
          <li>&copy; <a href="https://twitter.com/meggavolts">Henry Slawniak</a> 2015</li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.5.4/CustomElements.min.js"></script>
  <script src="/assets/js/time-elements.js"></script>
  {{ template "js" . }}
</body>
</html>
